.Logo{
    vertical-align: middle;
    border-style: nonde;
    height: 100%;
    margin-left: 4rem !important;
    
}
.navbox{
    height: 3.5rem;
    display: block;
    margin-top: 1rem !important;
    padding: 10px;
    /* margin-left: 4rem !important; */
    /* margin: 23px; */
    border-color: black;
    width:100%;
    border-radius: 5px;
    -webkit-box-shadow: -1px 11px 5px 0px rgba(0,0,0,0.06);
-moz-box-shadow: -1px 11px 5px 0px rgba(0,0,0,0.06);
box-shadow: -1px 11px 5px 0px rgba(0,0,0,0.06);


}